#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-feature-settings: "abvf";
  font-family: 'Cormorant', serif;
  text-shadow: 4px 4px 8px #000000;
  color: hsl(185, 92%, 64%);
 
}
h2 {
  font-size: 3rem;
  font-feature-settings: "abvf";
  font-family: 'Cormorant', serif;
  text-shadow: 4px 4px 8px #000000;
  color: hsl(185, 92%, 64%);
}

h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 8px #000000;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  height: 70vh;
}

#home-quote {
  margin-top: 13vh;
  margin-inline: auto;
  width: 40vw;
  font-size: 2.0rem;
  text-align: center;
  font-feature-settings: "abvf";
  font-family: 'Cormorant', serif;
  text-shadow: 6px 6px 10px #000000;
}
.resume-text {
  margin-top: 13vh;
  margin-inline: auto;
  width: 40vw;
  font-size: 1.5rem;
  text-align: center;
  font-feature-settings: "abvf";
  text-shadow: 6px 6px 10px #000000;
}

.message-box {
  display: flex;
  height: 20vh;
  margin-inline: auto;
  margin-block: 5vh;
  width: 900px;
  text-align: center;
}

.about-me {
  margin-inline: 13vw;
  margin-top: 15vh;
  font-size: 1.5rem;
  text-shadow: 4px 4px 8px #000000;
}

form {
  display: flex;
  flex-direction: column;
  margin-inline: 10vw;
}

form input {
    width: 25%;
    margin-inline: auto;
}

form button {
  margin-inline: auto;
  width: 10%;
}

.card {
  padding: 2em;
}

footer {
  height: 5vh;
  font-family: cursive;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: rgba(114, 151, 236, 0.691);
  font-weight: bold;
  text-shadow: 2px 2px rgb(5, 0, 1);
  
}

.read-the-docs {
  color: #585757;
}
